apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespaceOverride }}
rules:
  - apiGroups: ["operb.example.io"]
    resources: ["helmcharts"]
    verbs: ["get", "list", "watch"]
  # to run helm list:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["list"]
  # to run helm install foo:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "create"]
  # to run helm install foo:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create"]
  # to run helm delete foo:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["delete"]
  # to run helm delete foo:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "delete"]
