name: operb
namespaceOverride: operb

deployment:
  image:
    repository: localhost:5000/operb
    tag: "1.5"
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 10Mi
